@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Varela+Round&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #101010;
  font-family: 'Outfit', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 41, 41);
  padding: 1em;
  width: 100%;  /* Ensure navbar covers full width */
  z-index: 2;
}

.nav .nav-container {
  display: flex;
  justify-content: space-between;
  width: 50%;  /* Adjust this value as needed */
}

.nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.nav ul li.right {
  margin-left: 100px;
}

.nav a {
  text-decoration: none;
  color: rgba(74, 255, 95, 0.74);
  transition: font-size 0.3s ease;
}

.nav a:hover {
  color: rgb(142, 255, 189);
  font-size: 1.2em;
}

.stripes-container {
  width: 100%; /* Ensures the container covers the full width of the viewport */
  display: flex; /* Uses flexbox to center the image */
  justify-content: center; /* Center horizontally in the flex container */
}



.logo {
  position: absolute;
  top: -50px;  /* Move the logo higher above the container */
  left: 50%;  /* Center it horizontally */
  transform: translateX(-50%);  /* Ensure it is centered relative to its width */
  width: 800px;  /* Set the size of the logo */
  height: auto;  /* Maintain aspect ratio */
  pointer-events: none; /* This allows clicks to pass through the logo */
}

.overlay-text-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Adjust this value to change the gap between the texts */
}

.overlay-text, .overlay-text2 {
  color: white;
  font-size: 4em;
  text-align: center;
}

.overlay-text2{
  font-weight: 100;
  font-size: 3em;
}

.stripesimg{
  filter: blur(4px);
}